@model OpenTicket.Domain.Command.AddEmailAccountCommand
@{
    ViewBag.ActiveMenu = "EmailAccount";                                                                             
    ViewBag.Title = "Add Email Account";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("Create", "EmailAccount", FormMethod.Post, new { data_external_login = Url.Action("SignInExternal") }))
{
    @Html.EditorForModel()
}
