@model OpenTicket.Domain.Command.EditEmailAccountCommand
@{
    ViewBag.ActiveMenu = "EmailAccount";
    ViewBag.Title = "Edit Email Account";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("Edit", "EmailAccount", FormMethod.Post, new { data_external_login = Url.Action("SignInExternal") }))
{
    @Html.HiddenFor(p => p.Id)
    @Html.EditorForModel()
}
